.date {
  border: 1px solid #000;
  padding: 5px;
  width: fit-content;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
}

.datepicker {
  width: 340px;
  margin: auto;
  height: 340px;
}

.picker {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.year {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-around;
  transform: scale(1);
}

.hand:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.calendar {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding: 5px;
  margin: 5px;
  justify-items: center;
  align-items: center;
}

.pickerDate {
  margin: auto;
}

.pickerDate:hover {
  background-color: rgb(138 43 226);
  color: white;
  font-weight: bold;
  padding: 2px 6px;
  margin: -2px 0;
  cursor: pointer;
}

.days {
  color: #999;
}

.hide {
  display: none;
}

.App {
  margin: auto;
  display: flex;
  background: aliceblue;
  height: 600px;
  width: -webkit-fill-available;
}
